ul {
    margin-left: 5%;
}
li {
    padding-left: 20%;
}

#buscador {
    margin-left: 45%;
}

#rebajas {
    margin-top: -10%;
    height: 140%;
}

#barra_nav {
    margin-top: -5%;
}

.coleccion {
    width: 100%;
}