.carousel-item {
    height: 65vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  
  /* --BUSCADOR--- */
    .searchbar{
    margin-bottom: auto;
    margin-top: auto;
    height: 40px;
    background-color: #839395;
    border-radius: 30px;
    padding: 10px;
    }
  
    .search_input{
    color: white;
    margin-top: -50px;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color:transparent;
    line-height: 40px;
    transition: width 0.4s linear;
    }
  
    .searchbar:hover > .search_input{
    padding: 0 10px;
    width: 200px;
    caret-color:#212529;
    transition: width 0.4s linear;
    }
    
    .search_icon{
    height: 30px;
    width: 30px;
    margin-top: -5px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:#212529;
    text-decoration:none;
    }
  
  /* --FIN BUSCADOR-- */
  
  
  .btn-icon {
    border-radius: 100%;
  }